<div [formGroup]="addressForm" class="address-group">
    <label >Address Name
        <span>*</span>
    </label>
    <input formControlName="addressName" />

    @if (addressForm.get('addressName')?.invalid && addressForm.get('addressName')?.touched) {
        <div class="error-message">
            Address Name is required.
        </div>
    }

    <label >Street
        <span>*</span>
    </label>
    <input formControlName="street" />

    @if(addressForm.get('street')?.invalid && addressForm.get('street')?.touched) {
        <div class="error-message" >
            Street is required.
        </div>
    }

    <label >Country</label>
    <select formControlName="country" >
        @for (country of countries(); track $index) {
            <option [value]="country.id">{{ country.name }}</option>
        }
    </select>

    <label >City</label>
    <select formControlName="city" >
        @for (city of cities(); track $index) {
            <option [value]="city.id">{{ city.name }}</option>
        }
    </select>
</div>
